@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.projectlist {
	background-color: rgba(0, 0,0, 0.1);	
	padding: 5px 10px;
	border-radius: 5px;
	color: #fff;
	list-style-type: none;
	justify-content: space-between;		
}
.projectlist a{
	color: #fff;
	background-color: rgba(0, 0,0, 0.1);	
	text-decoration: none;
}

.projectlist :hover {
	cursor: pointer;
	transform: scale(1.4);
}
.movie-container{
	margin: 22px 0;
}
.movie-container select{
	background-color: #fff;
	border:0;
	border-radius: 5px;
	font-size: 16px;
	margin-left: 10px;
	padding: 5px 15px 5px 15px;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.container {
	perspective: 1000px;
	margin-bottom: 30px;
}
